<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rishik</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link rel="icon" href="static/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top">
        <div class="top-cloud">
            <img src="static/images/CSS+-+My+Site+Images/cloud.png" alt="cloud-image">
        </div>
        <h1>I'm Rish.</h1>
        <h2 class="programmer-text">a <span>Web</span>Developer</h2>
        <div class="bottom-cloud">
            <img src="static/images/CSS+-+My+Site+Images/cloud.png" alt="cloud-image">
        </div>
        <div class="mountain">
            <img src="static/images/CSS+-+My+Site+Images/mountain.png" alt="mountain-image">
        </div>
    </div>

    <div class="middle-container">
      <div class="profile">
        <img class="profile-image" src="https://cdn-icons-png.flaticon.com/512/236/236831.png" alt="profile-pic">
        <h2>Hello.</h2>
        <p>Experienced in Python Scripting and a Web Development .</p>
      </div>
      <hr>

      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="skill1" src="https://cdn-icons-png.flaticon.com/512/2535/2535516.png" alt="code-image">
          <h3>Python Programming</h3>
          <p>Intermediate in python, Participated in a Bootcamp by Angela Yu at Udemy.  </p>
        </div>
        <div class="skill-row">
          <img class="skill2" src="https://cdn-icons-png.flaticon.com/512/2535/2535521.png" alt="code-image">
          <h3>Web Development</h3>
          <p>Web development Using Flask Frame work, also Experienced HTML/CSS, in selenium, Bootstrap, Jinja2.</p>
        </div>
        <div class="skill-row">
          <img class="skill1" src="https://cdn-icons-png.flaticon.com/512/603/603198.png" alt="code-image">
          <h3>SQLLite</h3>
          <p>Experienced in SQLLite and SQLAlchemy</p>
        </div>
        <div class="skill-row">
          <img class="skill2" src="https://cdn-icons-png.flaticon.com/512/1449/1449312.png" alt="code-image">
          <h3>Data Science</h3>
          <p>Data Analysis using Pandas, Numpy, Matplotlib</p>
        </div>
      </div>


      <hr>

      <div class="contact-me">
        <h2>My Projects</h2>
        <img class="hire-me" src="https://cdn-icons-png.flaticon.com/512/4727/4727424.png" alt="code-image">
        <h3>Check My Git</h3>
        <a class="btn" href="https://github.com/Rishi5254">GIT HUB</a>
      </div>
    </div>


    <div class="bottom-container">
      <a href="mailto:name@rishirishik18@gmail.com">Mail Me</a>
      <a class="footer-link" href="https://github.com/Rishi5254">GitHub</a>
      <p class="copyright">© 2021  rishik guggilla </p>
    </div>


</body>
</html>